.counter__container {
  margin-top: 0em;
  background-color: mediumseagreen;
  height: 4em;
  width: 15em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
}

.counter__container--dead {
  margin-top: 3em;
  background-color: grey;
  height: 4em;
  width: 15em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin: auto;
}

.counter__screen {
  height: 3em;
  width: 8em;
  background-color: lightgray;
  border-radius: 0.5em;
  margin-top: 0.5em;
  color: black;
}

.counter__value {
  font-weight: 800;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  font-size: 1.7em;
  margin-top: 0.3em;
}

.counter__button{
  width: 2.5em;
  height: 2.5em;
  background-color: #2e9c5f;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 50%;
  margin-top: 0.75em;
}

.counter__button--dead{
  width: 2.5em;
  height: 2.5em;
  background-color: #494949;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 50%;
  margin-top: 0.75em;
  color: lightgray
}

.counter__button--value {
  font-weight: 800;
  font-size: 1.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.1em;
}

.counter__wrapper {
  -webkit-animation-name: opening; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: opening;
  animation-duration: 0.3s;
}

@-webkit-keyframes opning {
  from {margin-left: -120px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}

@keyframes opening {
  from {margin-left: -120px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}

.counter__box{
  display: flex;
  align-items: center;
  width: 15em;
  margin: auto;
}

.counter__edit{
  margin-left: 1em;
  font-size: 1.3em;
}