.counter__container {
  margin-top: 0em;
  height: 4em;
  width: 15em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
}

.counter__container--dead {
  margin-top: 3em;
  background-color: grey;
  height: 4em;
  width: 15em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin: auto;
}

.counter__screen {
  height: 3em;
  width: 8em;
  background-color: lightgray;
  border-radius: 0.5em;
  margin-top: 0.5em;
  color: black;
}

.counter__value {
  font-weight: 800;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  font-size: 1.7em;
  margin-top: 0.3em;
}

.counter__button{
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 50%;
  margin-top: 0.75em;
}

.counter__button--dead{
  width: 2.5em;
  height: 2.5em;
  background-color: #494949;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 50%;
  margin-top: 0.75em;
  color: lightgray
}

.counter__button--value {
  font-weight: 800;
  font-size: 1.5em;
  margin-block-start: 0.2em;
  margin-block-end: 0.1em;
}

.counter__wrapper {
  -webkit-animation-name: opening; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: opening;
  animation-duration: 0.3s;
}

@-webkit-keyframes opning {
  from {margin-left: -120px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}

@keyframes opening {
  from {margin-left: -120px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}

.counter__box{
  display: flex;
  align-items: center;
  width: 15em;
  margin: auto;
}

.counter__edit{
  margin-left: 1em;
  font-size: 1.3em;
}

.footer{
  height: 2em;
}

.cc-red {
  background-color: #FF4821;
}

.cb-red {
  background-color: #DA4222;
}

.cc-brown {
  background-color: #C4854A;
}

.cb-brown {
  background-color: #A77341;
}

.cc-green {
  background-color: mediumseagreen;
}

.cb-green {
  background-color: #2e9c5f;
}

.cc-yellow {
  background-color: #F2EF0D;
}

.cb-yellow {
  background-color: #E9D50C;
}

.cc-orange {
  background-color: orange;
}

.cb-orange {
  background-color: #ec9614;
}

.cc-blue {
  background-color: #409bc5;
}

.cb-blue {
  background-color: #2e5e9c;
}

.cc-purple {
  background-color: #C36AFA;
}

.cb-purple {
  background-color: #9A53C5;
}

.cc-pink {
  background-color: #FEADFF;
}

.cb-pink {
  background-color: #D880D9;
}

.cc-white {
  background-color: white;
}

.cb-white {
  background-color: #F0F3F4;
}

.cc-black {
  background-color: #17202A;
}

.cb-black {
  background-color: #34495E;
}

.cc-lime {
  background-color: #00FC2A;
}

.cb-lime {
  background-color: #1EDA3D;
}

.cc-cyan {
  background-color: #00FCF9;
}

.cb-cyan {
  background-color: #1FDFDD;
}